<ion-header class="ion-no-border">
	<ion-toolbar class="toolbar-basico">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="principal"></ion-back-button>
		</ion-buttons>
    <p class="texto_tolbar">Frases</p>
	</ion-toolbar>
</ion-header>

<ion-content class="content-basico">
	<ion-button *ngIf="user.adm == 'adm'" class="botao-relatorio" (click)="adicionarReza()">Adicionar Frase</ion-button>
	<ion-searchbar
    showClearButton="never"
    placeholder="Buscar"
    (keyup)="filtrar($event)"
    class="busca"
    [(ngModel)]="search"
  ></ion-searchbar>

	<ion-card class="card" *ngFor="let frase1 of listaFrases; let i = index">
		<p class="nome-reza">{{frase1.autor}}</p>
		<p class="texto-reza">{{frase1.frase}}</p>
		<ion-button class = "botao-relatorio2" *ngIf="user.adm=='adm'" (click)="editarReza(i)">Editar</ion-button>
	</ion-card>

</ion-content>
